<div class="logo-marquee" aria-label="Institution logos">
  <div class="logo-track">
    <div class="logo-row">
      <img src="/images/uni_logos/ntu.png" alt="NTU Singapore" />
      <img src="/images/uni_logos/mbzuai.jpg" alt="MBZUAI" />
      <img src="/images/uni_logos/cern.png" alt="CERN" />
      <img src="/images/uni_logos/sggs.jpg" alt="SGGS" />
      <img src="/images/uni_logos/surrey.png" alt="University of Surrey" />
      <img src="/images/uni_logos/uow.png" alt="University of Wollongong" />
    </div>
    <div class="logo-row" aria-hidden="true">
      <img src="/images/uni_logos/ntu.png" alt="" />
      <img src="/images/uni_logos/mbzuai.jpg" alt="" />
      <img src="/images/uni_logos/cern.png" alt="" />
      <img src="/images/uni_logos/sggs.jpg" alt="" />
      <img src="/images/uni_logos/surrey.png" alt="" />
      <img src="/images/uni_logos/uow.png" alt="" />
    </div>
  </div>
</div>
